<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品列表 - 校园购</title>
    <!-- Favicon icon -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>

    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .layui-select,.layui-input{
            height:76px;
            padding:0 15px 0 15px;
        }
        .a{
            font-family: 华文新魏,sans-serif;
            font-size: 30px;
        }
        #button{
            font-family: 华文新魏,sans-serif;
            font-size: 30px;
            height: 70px;
        }

    </style>



</head>
<body onload="typegoodslist('')">
<!--顶部导航栏-->
<div style="top: 0; position: fixed; width: 100%; z-index: 10;">
    <ul class="layui-nav layui-bg-blue">
        <li class="layui-nav-item"><a href="/enterHome"><img th:src="@{/img/logos/black-logo.png}" height="50" alt="logo"></a></li>
        <li class="layui-nav-item" style=" margin: 0 15px 0 15px;"><a class="a" href="">一</a></li>
        <li class="layui-nav-item" style=" margin: 0 15px 0 15px;"><a class="a" href="">二</a></li>
        <li class="layui-nav-item" style=" margin: 0 15px 0 15px;"><a class="a" href="">三</a></li>
        <li class="layui-nav-item" style=" margin: 0 15px 0 15px;">
            <a class="a" href="javascript:">四</a>
            <dl class="layui-nav-child">
                <dd><a href="">1</a></dd>
                <dd><a href="">2</a></dd>
                <dd><a href="">3</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" style=" margin: 0 15px 0 15px;"><a class="a" href="">五</a></li>
    </ul>
    <ul class="layui-nav  layui-layout-right layui-bg-blue">
        <li class="layui-nav-item" style=" margin: 0 15px 0 15px;"><a class="a" href="javascript:" text="${user.uname}">***</a>
            <dl class="layui-nav-child">
                <dd><a href="/enterPersonal">个人信息</a></dd>
                <dd><a href="">2</a></dd>
                <dd><a href="/enterLogin">退出登录</a></dd>
            </dl></li>
    </ul>
</div>

<div style="text-align: center; width: 100%; height: 80%;  z-index: 9;">
    <div class="layui-card" style="margin: 20px auto; height: auto; width: 100%;">
        <div class="layui-card-body" style="top: 50px; padding:10px 20px 15px 20px; margin: 20px; Font-size: 17px">
            <form class="layui-form" action="" style="width: 100%; display: flex;">
                <div class="layui-form-item" style="margin: auto; padding: 20px 0 20px 0">
                    <div class="layui-inline">
                        <label>
                            <input type="text" name="" placeholder="What are you looking for?" style="font-size: 30px; padding: 20px 0; width: 400px; height: 30px; text-align: center;">
                        </label>
                    </div>
                    <div class="layui-inline" style="font-size: 23px; width: 140px; line-height: 30px; text-align: center;">
                        <label>
                            <select name="gType">
                                <option value="">全部分类</option>
                                <option value="food">食品饮料</option>
                                <option value="home">家居日用</option>
                                <option value="travel">交通出行</option>
                                <option value="electronic">电子数码</option>
                                <option value="literature">文学资料</option>
                                <option value="other">&nbsp;其它&nbsp;</option>
                            </select>
                        </label>
                    </div>
                    <div class="layui-inline">
                        <button type="button" id="button" class="layui-btn layui-btn-lg layui-btn-radius">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="margin: 40px auto 40px auto; width: 66%; z-index: 9; bottom:40px;">
    <div class="grid-demo grid-demo-bg1" style="text-align: center; margin: auto; padding-top: 15px; height: auto; background-color: #cccccc;">
        <a style="font-size: 30px; padding: 0 20px 0 20px;" onclick="typegoodslist('')">所有商品</a>
        <a style="font-size: 30px; padding: 0 20px 0 20px;" onclick="typegoodslist('food')">食品饮料</a>
        <a style="font-size: 30px; padding: 0 20px 0 20px;" onclick="typegoodslist('home')">家居日用</a>
        <a style="font-size: 30px; padding: 0 20px 0 20px;" onclick="typegoodslist('travel')">交通出行</a>
        <a style="font-size: 30px; padding: 0 20px 0 20px;" onclick="typegoodslist('electronic')">电子数码</a>
        <a style="font-size: 30px; padding: 0 20px 0 20px;" onclick="typegoodslist('literature')">文学资料</a>
        <a style="font-size: 30px; padding: 0 20px 0 20px;" onclick="typegoodslist('other')">&nbsp;其它&nbsp;</a>
        <div class="layui-fluid" id="LAY-component-grid-list" style="text-align: center; padding: 20px 10px 20px 10px;">
            <div id="card" class="layui-row layui-col-space10 demo-list" style="text-align: center;">
            </div>
        </div>
    </div>
</div>

<!--底部信息栏-->
<div style="display: flex; text-align: center; width: 100%; height: 40px; position: fixed; bottom:0; z-index: 10; background-color: white">
    <p style="margin: auto">&nbsp;Copyright &nbsp; © 2020 &nbsp; 版权所属 &nbsp; Java2班14组</p>
</div>

<script>
    layui.use('element', function () {
        const element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>

<script>
    function typegoodslist (gType){
        $("#card").empty();
        $.ajax({
            cache: false,
            dataType: 'json',
            type: 'post',
            url: "/typeGoods?gType="+gType,
            success: function (result) {
                //console.log(result);
                for (let i = 0; i < result.length; i++) {
                    const mydiv = '<div class="layui-col-md3" style="height: 300px; width: 220px;"><div class="layui-card"><a><form style="height: 280px; width: 200px;"><!--img id="c_photo" src="../img/goods/' + '"style="height: 250px; width: 200px;"--><div style="font-size: 20px"><label style="float: left;">' + result[i].gName + '</label><label style="float: right;">￥' + result[i].gPrice + '</label></div></form></a></div></div>';
                    $("#card").append(mydiv);
                }
            }
        });
    }
</script>
<script>
    layui.use('form', function(){
        const form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        //……
        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来进行渲染
        form.render();
    });
</script>
</body>
</html>