<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body>
<form method="post" action="/userLogin">
    <h2>用户登录</h2>
    手机号：<input type="text" name="uphone">
    密码：<input type="text" name="upassword">
    <input type="submit" value="提交">
    <br>
    <a href="enterRegister">前往注册</a>
</form>
</body>
</html>